<html lang="en" xmlns:th="http://www.thymeleaf.org">>

    <head>
    </head>

    <body>

        <table>
            <tr>Firstname</tr>
            <tr>Lastname</tr>
            <tr>Phone Number</tr>
            <tr>Email</tr>


            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.firstname}">Firstname</td>
                <td th:text="${contact.lastname}">Lastname</td>
                <td th:text="${contact.phonenumber}">Phone</td>
                <td th:text="${contact.email}">Email</td>
            </tr>

        </table>



    </body>

</html>